.background-upload{
    input[type=file]{
        position: absolute;
        left: 0;
        width: 100% !important;
        margin-top: -5rem;
        height: 7rem;
        opacity: 0;
        cursor: pointer;
    }
    .background-preview{
        height:18rem;
        height: 18rem;
        margin-left: -1rem;
        margin-right: -1rem;
        margin-top: -1rem;
        margin-bottom: -1rem;
        .material-icons{
            float: right;
            padding: 0.5rem;
            cursor: pointer;
            color:#eee;
        }
        .prv{
            width: 100%;
            height: 18rem;
            object-fit: cover;
        }
    }
}

.user-item-group{
    margin:0.25rem;
    background-color: #fff;
    display: flex;
    padding: 0.5rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
  
    .i-av-g{
      margin-right:0.75rem;
      .i-av{
        cursor: pointer;
      }
    }
  
    .i-txt-g{
      flex-grow: 1;
      .i-txt-1{
        margin-top: 0.25rem;
      }
      .i-txt-2{
        font-size: 0.75rem;
        margin-top: -0.05rem;
        color:#777;
      }
    }
  }

  .modal-dialog .modal-header{
    background-color:#eee;
    padding-top:unset;
    border-bottom:solid 1px #ccc;
    h5{
      font-size: 0.95rem;
      padding-bottom: 0.5rem;
      font-weight: 500;
    }
    .btnCloseModal{
      height: 2.5rem;
      margin-top: 0rem;
      height: 2.5rem;
      margin-top: 0rem;
      margin-right: -0.5rem;
      .material-icons{
        position: absolute;
        top: 0.75rem;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }