.zlogo{
    img{
        width: 10rem;
        margin-top: 0.5rem;
    }
}

#new_status_modal{
    .close-modal{
        position: absolute;
        right: 0.15rem;
        margin-top: -1rem;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        .cmi{
            height: 1rem;
            width: 1rem;
            background: #F85D54;
            border: solid 1px #ccc;
            border-radius: 100%;
            .material-icons{
                position: absolute;
                margin-top: 0.1rem;
                font-size: 0.75rem;
                margin-left: 0.15rem;
                color:#fba29d;
            }
        }
        &:hover{
            .material-icons{
                color:#eee;
            }
        }
    }
}

.message-group{
    display: flex;
    flex-direction: column;
    .tit{
        border-bottom:solid 1px #ccc;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        background-color: #eee;
        margin-top: -1.5rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 2.5rem;
        .txt{
            color:#4b4f56;
            font-weight: 500;
            margin-top:0.5rem;
            margin-left:0.5rem;
            .material-icons{
                position: absolute;
            }
            .mif{
                padding-left:1.85rem;
            }
        }
    }
    .bod{
        margin-left:-1.5rem;
        margin-right:-1.15rem;
        padding: 0.5rem;
        textarea{
            width:100%;
            padding: 0.25rem;
            border:unset;
            height:8rem !important;
        }
    }
    .bot{
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        border-top: solid 1px #eee;
        .txt{
            text-align: center;
            padding: 1rem;
            font-weight: 400;
            color: #777;
            cursor: pointer;
            .t2{
                font-size: 0.95rem;
                line-height: 1.25rem;
            }
            .t1{
                display: flex;
                justify-content: center;
                text-transform: uppercase;
                .svi{
                    margin-right: 0.5rem;
                    margin-top: -0.15rem;
                }
                .required{
                    margin-top: -0.25rem;
                    margin-left: 0.25rem;
                    color: #ef5350;
                }
            }
        }
    }
    .bot2{
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        border-top: solid 1px #ccc;
        margin-bottom: -2.5rem;
        background: #eee;
        height: 4.5rem;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        padding: 0 1rem;
        .btg{
            display: block;
            width: 100%;
            padding:0.5rem 0;
        }
        .tg{
            display: flex;
            justify-content: space-between;
            .location{
                flex-grow: 1;
                .ing{
                    padding-top: 0.5rem;
                    margin-right: 0.5rem;
                    .material-icons{
                        position: absolute;
                        color: #777;
                        font-size: 1.1rem;
                        margin-top: 0.25rem;
                        margin-left: 0.15rem;
                    }
                    input[type=text]{
                        width: 90%;
                        border: none;
                        background: rgba(255,255,255,0.8);
                        padding-left: 1.5rem;
                        border-radius: 5px;
                    }
                }
            }
            .ih{
                float: right;
                padding: 0.5rem;
                cursor: pointer;
                color: #262626;
                margin-bottom: 1rem;
                .ih1{
                    width: 6rem;
                    text-align: right;
                    padding-right: 0.5rem;
                    padding-bottom: 0.15rem;
                    border-radius: 5px;
                    margin-right: -1rem;
                    background:#fff;
                }
                .form-check-input{
                    position: absolute;
                    margin-left: -1.25rem;
                    margin-top: 0.35rem;
                }
                .form-check-label{
                    color:#262626;
                    cursor: pointer;
                }
            }
        }
    }
}

.menu-group{
    display: flex;
    .mnitem{
        color:#fff;
        cursor: pointer;
        margin:0 0.5rem;
        display: flex;
        padding:0.5rem;
        .material-icons{
            margin: 0 0.5rem;
            margin-top: 0.35rem;
        }
        .mntext{
            color: #fff;
            margin-top: -0.15rem;
            text-transform: capitalize;
            font-size: 1rem;
            font-weight: 500;
            padding: 0.5rem;
        }
        &:hover{
            background: rgba(255,255,255,0.1);
        }
    }
    .spr{
        border-left: solid 1px #ccc;
        height: 1.5rem;
        margin-top: 0.85rem;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
    .zavatar{
        margin-top:0.05rem;
    }
}