.terms-group{
    &.container{
        background: #fff;
        width: 100%;
        height: 100%;
        max-width: unset;
    }
    .col-md-6{
        margin:0 auto;
        .ztop{
            display: flex;
            justify-content: space-between;
            img.top-logo{
                width: 4rem;
                object-fit: contain;
                height: 4rem;
                margin-top: 1rem;
                padding: 0.5rem;
            }
            .top-link{
                text-transform: uppercase;
                color:#777;
                font-weight: 400;
                display: inherit;
                height: 1.5rem;
                font-size: 1rem;
                font-weight: 400;
                margin-top: 2rem;
                margin-right: 2rem;
                &:hover{
                    color:#262626;
                }
            }
        }
        .zdetail{
            font-size: 1rem;
            line-height: 1.5rem;
            .hd{
                text-transform: uppercase;
                font-weight: 400;
                color: #262626;
                margin-top:2rem;
                margin-bottom: 1rem;
            }
            .bl{
                font-weight: 400;
            }
            .tt{
                margin-top:1rem;
                font-weight: 400;
            }
            .l{
                margin-bottom:0.5rem;
            }
            .l2{
                margin-top:1rem;
                margin-bottom:0.5rem;
            }
        }
    }
    .zcontact{
        margin-top: 4rem;
        margin-bottom: 3rem;
        text-align: center;
        .it{
            font-size: 1rem;
            margin-top: 0.25rem;
        }
    }
}


@media (max-width: 649px) {
    .terms-group{
        &.container{
            background: #fff;
            width: 100%;
            height: 100%;
            max-width: unset;
        }
        .col-md-6{
            margin:0 auto;
            .zdetail{
                margin-right: 2rem;
            }
        }
        .zcontact{
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding-left: unset;
            padding-right: unset;
            margin-right: 2rem;
        }
    }
    
}