.about-us-group{
    &.container{
        background: #fff;
        width: 100%;
        height: 100%;
        max-width: unset;
    }
    .col-md-6{
        margin:0 auto;
        .ztop{
            display: flex;
            justify-content: space-between;
            img.top-cover{
                width:11rem;
            }
            img.top-logo{
                width: 4rem;
                object-fit: contain;
                height: 4rem;
                margin-top: 1rem;
                padding: 0.5rem;
                margin-left: -4rem;
            }
            .top-link{
                text-transform: uppercase;
                color:#777;
                font-weight: 400;
                display: inherit;
                height: 1.5rem;
                font-size: 1rem;
                font-weight: 400;
                margin-top: 2rem;
                margin-right: 2rem;
                &:hover{
                    color:#262626;
                }
            }
        }
        .zdetail{
            margin-top: -5rem;
            width: 55%;
            margin-left: 8rem;
            font-size: 1.5rem;
            line-height: 2rem;
        }

        &.md1{
            margin-top:3rem;
            .zgr1{
                display:flex;
                .zdt1{
                    flex-grow: 1;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    margin-left:0.5rem;
                    margin-top:3rem;
                }
                img.top-cover{
                    width: 14rem;
                }
            }
        }

        &.md2{
            margin-top:3rem;
            .zgr2{
                display:flex;
                .zdt2{
                    flex-grow: 1;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    margin-left:1rem;
                    margin-top:3rem;
                }
                img.top-cover2{
                    width: 23rem;
                }
            }
        }

        &.md3{
            margin-top:3rem;
            .zgr3{
                display:flex;
                .zdt3{
                    flex-grow: 1;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    margin-left:1rem;
                    margin-top:4rem;
                }
                img.top-cover3{
                    width: 23rem;
                }
            }
        }
    }
    .zcontact{
        margin-top: 4rem;
        margin-bottom: 2rem;
        text-align: center;
        .it{
            font-size: 1.2rem;
            margin-top: 0.25rem;
        }
    }
}


@media (max-width: 649px) {
    .about-us-group{
        &.container{
            background: #fff;
            width: 100%;
            height: 100%;
            max-width: unset;
        }
        .col-md-6{
            margin:0 auto;
            .ztop{
                display: flex;
                justify-content: space-between;
                img.top-cover{
                    width:11rem;
                }
                img.top-logo{
                    width: 4rem;
                    object-fit: contain;
                    height: 4rem;
                    margin-top: 1rem;
                    padding: 0.5rem;
                    margin-left: -4rem;
                }
                .top-link{
                    text-transform: uppercase;
                    color:#777;
                    font-weight: 400;
                    display: inherit;
                    height: 1.5rem;
                    font-size: 1rem;
                    font-weight: 400;
                    margin-top: 2.5rem;
                    margin-right: 2rem;
                    &:hover{
                        color:#262626;
                    }
                }
            }
            .zdetail{
                margin-top: -5rem;
                width: 55%;
                margin-left: 8rem;
                font-size: 1rem;
                line-height: 1.5rem;
            }
    
            &.md1{
                margin-top:3rem;
                .zgr1{
                    display:flex;
                    .zdt1{
                        flex-grow: 1;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        margin-left:0.5rem;
                        margin-top:3rem;
                    }
                    img.top-cover{
                        width: 8rem;
                        margin-top: 4rem;
                    }
                }
            }
    
            &.md2{
                margin-top:3rem;
                .zgr2{
                    display:flex;
                    .zdt2{
                        flex-grow: 1;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        margin-left: 1rem;
                        margin-top: 2rem;
                        margin-right: 2rem;
                    }
                    img.top-cover2{
                        width: 10rem;
                        margin-top: 2rem;
                    }
                }
            }
    
            &.md3{
                margin-top:3rem;
                .zgr3{
                    display:flex;
                    .zdt3{
                        flex-grow: 1;
                        flex-grow: 1;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        margin-left: 1rem;
                        margin-top: 2rem;
                    }
                    img.top-cover3{
                        width: 10rem;
                        margin-top: 2rem;
                        margin-right: 1.5rem;
                    }
                }
            }
        }
        .zcontact{
            margin-top: 4rem;
            margin-bottom: 2rem;
            text-align: center;
            .it{
                font-size: 1rem;
                margin-top: 0.15rem;
            }
        }
    }
    
}