.qa-group{
    &.container{
        background: #fff;
        width: 100%;
        height: 100%;
        max-width: unset;
    }
    .col-md-6{
        margin:0 auto;
        .ztop{
            display: flex;
            justify-content: space-between;
            img.top-logo{
                width: 4rem;
                object-fit: contain;
                height: 4rem;
                margin-top: 1rem;
                padding: 0.5rem;
            }
            .top-link{
                text-transform: uppercase;
                color:#777;
                font-weight: 400;
                display: inherit;
                height: 1.5rem;
                font-size: 1rem;
                font-weight: 400;
                margin-top: 2rem;
                margin-right: 2rem;
                &:hover{
                    color:#262626;
                }
            }
        }
        .zdetail{
            font-size: 1rem;
            line-height: 1.5rem;
            .hd{
                text-transform: uppercase;
                font-weight: 400;
                color: #262626;
                margin-top:2rem;
                margin-left: 1rem;
                margin-bottom: 1rem;
            }
            .accordion{
                margin-left: 1rem;
                a{
                    font-weight: 400;
                }
                h2{
                    padding-top:unset;
                    font-size: 2.25rem;
                    line-height: unset;
                    margin-top: -0.5rem;
                }
                .btn.btn-link{
                    font-size: 1rem;
                    text-transform: unset;
                    font-weight: 400;
                    padding-left: unset;
                    padding-bottom: unset;
                    color: #777;
                    cursor: pointer;
                    white-space:unset;
                    text-align: left;
                    padding: unset;
                    margin-top:1.5rem;
                    &:hover{
                        color: #262626;
                    }
                }
                .card-body{
                    margin-left: 1rem;
                    font-size: 1rem;

                }
            }
            .endqa{
                margin-top: 1rem;
                margin-left: 1rem;
                a{
                    font-weight: 400;
                }
            }
        }
    }
    .zcontact{
        margin-top: 4rem;
        margin-bottom: 3rem;
        text-align: center;
        .it{
            font-size: 1rem;
            margin-top: 0.25rem;
        }
    }
}


@media (max-width: 649px) {
    .qa-group{
        &.container{
            background: #fff;
            width: 100%;
            height: 100%;
            max-width: unset;
        }
        .col-md-6{
            margin:0 auto;
            .zdetail{
                margin-right: 2rem;
            }
        }
        .zcontact{
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding-left: unset;
            padding-right: unset;
            margin-right: 2rem;
        }
    }
    
}