nav.nav-custom{
    background-color: #262626 !important;
    box-shadow: none !important;
    color: #777 !important;
}

#pay_account_modal{
    .account-info{
        .ztitle{
            margin-bottom: 0.5rem;
            text-transform: uppercase;
            font-size: 0.85rem;
            font-weight: 400;
        }
        .account-group{
            margin-bottom: 1rem;
            font-size:0.85rem;
            font-size: 0.85rem;
            border-top: solid 1px #eee;
            padding-top: 1rem;
            .item{
                display: flex;
                justify-content: space-between;
                .lbl{

                }
                .val{
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }

}