.home-group{
    height:100%;
    width:100%;
    .bckg{
        width: 100%;
        height:50rem;
        background-size: cover !important;
        overflow: scroll;

        border-bottom: 3px solid;
        border-image-slice: 1;
        border-width: 3px;
        border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

        .trgroup{
            display: flex;
            float: right;
            margin-right: 1rem;
            margin-top:0.5rem;
            width: auto;
            .nmsg{
                border:unset;
                display: flex;
                margin-left: 0.5rem;
                background: #f85d54;
                color: #fff;
                font-weight: 500;
                padding: 0.25rem 0.5rem;
                margin-top: 0.5rem;
                font-size: 0.85rem;
                border-radius: 6px;
                cursor: pointer;
                .material-icons{
                    font-size: 1rem;
                    margin-top: 0.18rem;
                    margin-right: 0.15rem;
                }
            }
        }
        .more-message{
            text-align: center;
            padding-bottom: 0.5rem;
            .tx{
                display: inline-block;
                background: rgba(0,0,0,0.5);
                padding: 0.5rem;
                border-radius: 5px;
                color: #ccc;
                font-size: 0.95rem;
                font-weight: 400;
                cursor: pointer;
                &:hover{
                    color:#fff
                }
            }
        }
        .author-group{
            padding-top:1rem;
            display: inline-block;
            width:100%;
            .info{
                display: flex;
                margin: 1rem;
                background: rgba(0, 0, 0, 0.5);
                padding: 0.75rem 0.75rem 0 0.75rem;
                border-radius: 5px;
                width: auto;
                font-size: 0.95rem;
                max-width: 25rem;
                max-height: 5.75rem;
                overflow: hidden;
                .message{
                    color:#fff;
                    font-weight: 400;
                    font-size: 0.85rem;
                    line-height: 1.2rem;
                    height: 1.5rem;
                    overflow: hidden;
                    max-width: 23rem;
                }
                .actg{
                    display: flex;
                    opacity: 0.5;
                    .like-group{
                        display: flex;
                        color: #eee;
                        .material-icons{
                            font-size: 1rem;
                            padding: 0.5rem;
                            &.selected{
                                color:#ef5350;
                            }
                        }
                        .ln{
                            margin-top: -0.15rem;
                            font-size: 0.75rem;
                            padding: 0.5rem 0.5rem 0.5rem 0;
                            min-width: 3rem;
                            font-weight: 400;
                        }
                    }
                    .comment-group{
                        display: flex;
                        color: #eee;
                        .material-icons{
                            font-size: 1rem;
                            padding: 0.5rem;
                        }
                        .ln{
                            margin-top: -0.15rem;
                            font-size: 0.75rem;
                            padding: 0.5rem 0.5rem 0.5rem 0;
                            min-width: 3rem;
                            font-weight: 400;
                        }
                    }
                    .share-group{
                        display: flex;
                        color: #eee;
                        .material-icons{
                            font-size: 1.25rem;
                            padding: 0.5rem;
                            margin-top: -0.15rem;
                        }
                        .ln{
                            margin-top: -0.15rem;
                            font-size: 0.75rem;
                            padding: 0.5rem 0.5rem 0.5rem 0;
                            min-width: 3rem;
                            font-weight: 400;
                        }
                    }
                }
                .r{
                    display: flex;
                    flex-direction: column;
                    color:#fff;
                    margin-left: 0.5rem;
                    margin-top: -0.25rem;
                    .name{
                        font-weight: 400;
                        .material-icons{
                            color: #fff;
                            background: #28a745;
                            border-radius: 100%;
                            font-size: 0.85rem;
                            margin-left: 0.5rem;
                        }
                        .wh{
                            margin-left: 0.5rem;
                            font-size: 0.75rem;
                            color: #ccc;
                        }
                    }
                    .at{
                        font-size: 0.75rem;
                        font-weight: 400;
                        margin-top: -0.35rem;
                        .locg{
                            color:#ccc;
                            .material-icons{
                                font-size: 0.85rem;
                                margin-left: 0.5rem;
                                margin-right: 0.25rem;
                            }
                        }
                    }
                }
                &.right{
                    float: right;
                    margin-top: -3rem;
                }

                &:hover{
                    cursor: pointer;
                    height:auto;
                    max-height: unset;
                    .message{
                        height: unset;
                    }
                    .actg{
                        opacity: 1;
                    }
                }
            }
        }
    }
}